body {
    background: #F8F8F8;
    margin: 10px;
}

.chameleon, .gecko, .toad, .newt {
    width: 30vw;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 5vw;
}

.photoGallery {
    margin: 10px;
    text-align: center;
}

figcaption{
    margin-top: 15px;
}

p{
    font-family: Serif;
    font-size: 18px;
    
}

h1{
    font-size: 40px;
    font-family: verdana;
}

h2,h5,h6{
    font-family: verdana;
    font-size: 22px;
    
}

.NavBar {
    background-color: #333030; /* Random Grey/Black Hexcolor */
}

/* This makes it so the Nav Bar allows the words to go across the screen completely in sections.     */
.NavBar li {
    display: inline;
}

/* This controls the text for the titles of the Nav Bar */
.NavBar a {
    display: inline-block;
    padding: 18px;
    color: white;
    text-decoration: none;
}

/* This allows it so the background section of a nav section switches colors to indicate the user is hovering over the section */
.NavBar a:hover {
    background-color: #636363; /* Random Grey Hexcolor */
    color: black;
}
