body {
    background: #F8F8F8;
    margin: 10px;
}

/* Combing all of my image element names makes it easier to work with them together as I want the images to be the same sizes. */
.chameleon, .gecko, .toad, .newt {
    width: 30vw;
    max-width: 100%;
    margin-right: 10px;
}

/* This style allows me to flex the images and have them be side by side. */
.Gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 6vw;
    
}

.photoGallery {
    margin: 10px;
    text-align: center;
}

figcaption{
    margin-top: 10px;
    font-size: 16px;
}

p{
    font-family: Serif;
    font-size: 20px;
    
}

h1{
    font-size: 40px;
    font-family: verdana;
}

.ExInd, .DigList li{
    font-size: 20px;
    font-family: Serif;
}

h2,h5,h6{
    font-family: verdana;
    font-size: 22px;
    
}

.NavBar {
    background-color: #333030; /* Random Grey/Black Hexcolor */
}

/* This makes it so the Nav Bar allows the words to go across the screen completely in sections.     */
.NavBar li {
    display: inline;
}

/* This controls the text for the titles of the Nav Bar */
.NavBar a {
    display: inline-block;
    padding: 18px;
    color: white;
    text-decoration: none;
}

/* This allows it so the background section of a nav section switches colors to indicate the user is hovering over the section */
.NavBar a:hover {
    background-color: #636363; /* Random Grey Hexcolor */
    color: black;
}

.CorpCompare {
    display:flex;
    flex-wrap:wrap;
}

.SoUgram, .InaugGram, .InaugKWIC, .StateKWIC {
    width: 30vw;
    height: 20vw;
    margin-right: 10px;
    max-width: 100%;
}
